<head>
  <title>Brandgrand</title>
  <link id="favicon" rel="icon" href="/favicon-32x32.png" type="image/x-icon">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <meta property="og:type" content="website">
  <meta property="og:title" content=""/>
  <meta property="og:description" content="" />
  <meta property="og:url" content="BrandgrandRealMe.github.io" />
  <meta property="og:image" content="" />
</head>
<div class="header row" style="background:black
    <h2>My header</h2>
</div> 
<div class="body row scroll-y" style="background:lightblue;">
    <p>The body</p>
</div> 
<div class="footer row" style="background:#e9e9e9;">
    My footer
</div>