
.vidcon {
    width:100%;
    height: 100%;
}

.vid {
     width:100%;
    height: 50%;  
}

.vidinfo {
    width:100%;
    height: 50%;
}

.vidtitle {
  color: #7289DA;
  font-family: 'zorque';
  border-left: 10px solid transparent;
}

.viddesc {
  
}

.list .vidcon {
    width:100%;
    height: 100%;
}

.list .vid {
     width:100%;
    height: 50%;  
}

.list .vidinfo {
    width:100%;
    height: 50%;
}

.list .vidtitle {
  color: #7289DA;
  font-family: 'zorque';
  border-left: 10px solid transparent;
}

.list .viddesc {
  
}